<ion-header>
  <ion-toolbar>
    <ion-title>Unidades</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="localizaUser()">
        <ion-icon size="large" slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-card *ngFor="let unit of unidade">
      <img src="../../assets/hospital.jpg" />
      <ion-card-header>
        <ion-card-title>{{unit.name}}</ion-card-title>
        <ion-card-subtitle>{{unit.street}}, {{unit.number}} - {{unit.district}} <br> {{unit.cep}} <br><br>{{unit.km}} Km
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <span class="footer-container" [routerLink]="['/units']">
            <div class="footer-img">
              <img src="../../assets/pointer-30.png">
            </div>
            <div>
              <p class="footer-titulo">Unidades</p>
            </div>
          </span>
        </ion-col>
        <ion-col>
          <span class="footer-container opacity" [routerLink]="['/home']">
            <div class="footer-img">
              <img src="../../assets/casa-30.png">
            </div>
            <div>
              <p class="footer-titulo">Home</p>
            </div>
          </span>
        </ion-col>
        <ion-col>
          <span class="footer-container opacity" [routerLink]="['/profile']">
            <div class="footer-img">
              <img src="../../assets/user-30.png">
            </div>
            <div>
              <p class="footer-titulo">Perfil</p>
            </div>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
