body {
    background-color: #ebebeb;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #065535;
    height: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.colunas {
    display: flex;
    justify-content: space-between;
    background-color: #065535;
    height: 120px;
    line-height: 120px;
    margin: -20px;
}

.items {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 0 25px;
}

.dropdown-menu {
    top: 75px;
}

footer {
    background-color: #065535;
    text-align: center;
    color: white;
}

/* TEMPLATE */

.items {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 0 25px;
}

.form {
    margin-top: 20px;
    padding: 40px 50px 50px 50px;
}

.card:nth-of-type(1) {
    background-color: #065535;
    color: white;
}

.card-subtitle {
    color: rgb(190, 190, 190);
}

.card {
    width: 440px;
    background-color: #065535;
}

.btn {
    width: 100%;
}

.col {
    display: flex;
}

.icones img {
    width: 35px;
    margin: 3px;
}

.icones a {
    font-size: 1px;
}

.icones {
    padding-left: 40px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .navbar-links {
        display: block;
    }

    .navbar-links a {
        color: black;
    }

    #sobre {
        display: block;
    }

    .colunas {
        display: block;
    }

    .footer {
        display: block;
    }
}
