.title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    border-bottom: 2px groove grey;
}

.form-row{
    font-size: 16px;
}


footer {
    background-color: #065535;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 7px;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    input,
    label {
        width: 100%;
    }

    .navbar,
    .footer {
        width: 100%;
    }

}
