a {
    text-decoration: none;
}

/* GLOBAL */

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.card {
    width: 200px;
    margin: 0 20px 20px 20px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 3px 3px 5px gray;
}

.card:hover{
    color: white;
    transition-timing-function: ease-in-out;
    background-color: #065535;
}

th {
    text-align: center;
}

tr {
    text-align: center;
}

footer {
    background-color: #065535;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 7px;
    font-size: 16px;
}
