body {
    background-color: #ebebeb;
    font-size: 14pt;
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #065535;
    height: 120px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.colunas {
    display: flex;
    justify-content: space-between;
    background-color: #065535;
    height: 120px;
    line-height: 120px;
    margin: -20px;
}

.items {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin: 0 25px;
}

.dropdown-menu {
    top: 75px;
}

footer {
    background-color: #065535;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* TEMPLATE */

.col {
    display: flex;
}

#sobre {
    margin-top: 50px;
    margin-bottom: 50px;
}

.sobre-txt {
    width: 400px;
    margin-left: 100px;
}

.sobre-img {
    width: 400px;
    margin-left: 100px;
}

.sobre-img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#unidades {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

.unidades-card img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 50px;
}

.funcionalidades-txt {
    width: 350px;
    margin-left: 50px;
}

.funcionalidades-video {
    width: 400px;
    margin-left: 50px;
}

.icones-card {
    margin-left: 150px;
    margin-bottom: 100px;
}

.txt {
    text-align: left;
}

.contato {
    text-align: right;
}


@media screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    .navbar-links {
        display: block;
    }

    .navbar-links a {
        color: black;
    }

    #sobre {
        display: block;
    }

    #unidades {
        display: block;
    }

    #funcionalidades {
        display: block;
    }

    #icones {
        display: block;
    }

    footer {
        display: block;
    }

    .colunas {
        display: block;
    }
}
