a {
    text-decoration: none;
}

ion-input {
    position: static;
    height: 48px;
    left: 0px;
    top: 31px;

    background: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 8px;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;
}

.item-label-floating.sc-ion-input-md-h,
.item-label-floating .sc-ion-input-md-h,
.item-label-stacked.sc-ion-input-md-h,
.item-label-stacked .sc-ion-input-md-h {
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: inherit;
    font-size: 18px !important;

}


.logo {
    height: 30%;
}

ion-button {
    padding: 7px;
    height: 70px;
    margin-bottom: -5px;
    font-weight: bold;
    font-size: 16px;
}

ion-img {
    margin-right: 10px;
}

ion-item {
    margin-top: 10px;
}

.password {
    margin-top: 7px;
    margin-left: 55%;
    margin-bottom: 20px;
}

.password span {
    color: #78A55A;
}

.buttons .entrar {
    --ion-color-primary: #48742C;
    font-weight: bold;
}

.buttons .cadastrar {
    --ion-color-primary: #48742C;
    font-weight: bold;
}