<ion-header>
</ion-header>

<ion-content>
  <!-- LOGO -->
  <div class="logo">
    <ion-img src="https://ik.imagekit.io/mnbr5uwksus/DoctorOn/DoctorOn.png?updatedAt=1634255509856"></ion-img>
  </div>
  <h1 style="text-align: center;">Entrar</h1>

  <!-- INPUTS -->
  <form [formGroup]='login' (submit)="doLogin()">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <!-- ESQUECI SENHA -->
    <div class="password" [routerLink]="['/forgot-password']">
      <span>Esqueci minha senha</span>
    </div>

    <!-- BOTÕES -->
    <div class="buttons">
      <ion-button type="submit" class="entrar" expand="block" [disabled]='login.invalid'>
        Entrar
      </ion-button>
      <ion-button class="cadastrar" expand="block" fill="outline" [routerLink]="['/register']">
        Cadastrar
      </ion-button>
    </div>
  </form>

</ion-content>
