<ion-header>
</ion-header>

<ion-content>
  <!-- LOGO -->
  <div class="logo">
    <ion-img src="../../assets/LOGO.svg" style="padding: 50px;"></ion-img>
  </div>

  <h1 style="text-align: center;">Login</h1>

  <!-- INPUTS -->
  <form [formGroup]='login' (submit)="doLogin()">

    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Senha</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <!-- ESQUECI SENHA -->
    <div class="esqueci">
      <div class="password" [routerLink]="['/forgot-password']">
        <span>Esqueci minha senha</span>
      </div>
    </div>
    <!-- BOTÕES -->
    <div class="buttons">
      <ion-button type="submit" class="entrar" expand="block" [disabled]='login.invalid'>
        Entrar
      </ion-button>
      <ion-button class="cadastrar" expand="block" fill="outline" [routerLink]="['/register']">
        Cadastrar
      </ion-button>
    </div>
  </form>

</ion-content>
