<ion-header>
  <ion-toolbar>
    <ion-title>Meu Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


  <!-- <div class="img-user">
    <ion-img src="{{user.img}}"></ion-img>
  </div> -->

  <ion-card class="img-user">
    <img src="{{user.img}}" />
  </ion-card>

  <div class="edit-user">
    <h2>{{user.name}}</h2>
    <ion-button slot="end" color="dark">
      <ion-icon slot="icon-only" name="lock"></ion-icon>
    </ion-button>
  </div>

  <div class="forms">
    <form>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input value="{{user.name}}" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input value="{{user.email}}" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input value="{{user.updated_at}}" disabled></ion-input>
      </ion-item>
      <ion-button color="dark" expand="block">
        Atualizar Usuário
      </ion-button>
    </form>
  </div>


</ion-content>