<ion-header>
    <ion-toolbar color='secondary'>
        <ion-title>Auth</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card box-shadow>
        <ion-card-content>
            <ion-segment [(ngModel)]="activeForm">
                <ion-segment-button value="login">
                    Login
                </ion-segment-button>
                <ion-segment-button value="register">
                    Register
                </ion-segment-button>
            </ion-segment>

            <div [ngSwitch]="activeForm">
                <div *ngSwitchCase="'login'">
                    <form [formGroup]='login' (submit)="doLogin()">
                        <ion-item>
                            <ion-label>Email</ion-label>
                            <ion-input type="email" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Password</ion-label>
                            <ion-input type="password" formControlName="password"></ion-input>
                        </ion-item>

                        <ion-button type="submit" expand="block" [disabled]='login.invalid'>
                            Login
                        </ion-button>
                    </form>
                </div>

                <div *ngSwitchCase="'register'">
                    <form [formGroup]='register' (submit)="doRegister()">
                        <ion-item>
                            <ion-label>Name</ion-label>
                            <ion-input type="text" formControlName="name"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Email</ion-label>
                            <ion-input type="email" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Password</ion-label>
                            <ion-input type="password" formControlName="password"></ion-input>
                        </ion-item>
                        <ion-button type="submit" expand="block">
                            Register
                        </ion-button>
                    </form>

                </div>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>