<ion-header>
  <ion-toolbar>
    <ion-title>Especialista</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <div style="margin-left: 35px;"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div style="font-family: Roboto; text-align: center; margin: 10px;">
    <h2>Profissionais Disponíveis</h2>
  </div>

  <ion-list>
    <ion-card class="card" *ngFor="let doctor of doctors">
      <div class="img">
        <img src="../../assets/user.jpg" height="80px" alt="">
        <div class="km">
          <p>{{doctor.km}} Km</p>
        </div>
      </div>
      <div class="text">
        <h2>Dr. {{doctor.name}}</h2>
        <div class="specialty">
          <p>{{doctor.specialty}} - CRM: {{doctor.crm}}</p>
        </div>
        <div class="units">
          <p>{{doctor.unit}}</p>
        </div>
        <div class="cep">
          <p>{{doctor.cep}}</p>
        </div>
        <div class="address">
          <p>{{doctor.street}}, {{doctor.number}} - {{doctor.district}}</p>
        </div>
      </div>
    </ion-card>
  </ion-list>
</ion-content>
