<ion-header>
  <ion-toolbar>
    <ion-title>{{specialty}}</ion-title>
    <div *ngIf="!specialty">
      <ion-title>Especialidade</ion-title>
    </div>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <div style="margin-left: 35px;"></div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


  <!-- Card informativo -->
  <div class="card-info">
    <div class="card-info-icon">
      <img src="../../assets/doctors.png">
    </div>
    <div class="card-info-text">
      <p>Encontramos {{this.count}} especialistas disponíveis em unidades próximas à você.</p>
    </div>
  </div>


  <ion-list>
    <div class="card" *ngFor="let doctor of doctors">
      <div class="img">
        <div *ngIf="!doctor.img_doctor">
          <img src="../../assets/user.jpg" height="80px" alt="">
        </div>
        <img src="{{doctor.img_doctor}}" height="80px" alt="">
        <div class="km">
          <ion-badge color="dark">{{doctor.km}} Km</ion-badge>
        </div>
      </div>
      <div class="text">
        <div class="online">
          <div *ngIf="doctor.sex == 'M'">
            <h2>Dr. {{doctor.name}}</h2>
          </div>
          <div *ngIf="doctor.sex == 'F'">
            <h2>Dra. {{doctor.name}}</h2>
          </div>
          <span class="icon-online"></span>
        </div>
        <div class="specialty">
          <p>{{doctor.specialty}} - CRM: {{doctor.crm}}</p>
        </div>
        <div class="units">
          <p>{{doctor.unit}}</p>
        </div>
        <div class="cep">
          <p>{{doctor.cep}}</p>
        </div>
        <div class="address">
          <p>{{doctor.street}}, {{doctor.number}} - {{doctor.district}}</p>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>
