<ion-header>
  <ion-toolbar>
    <ion-title>Unidades</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="localizaUser()">
        <ion-icon size="large" slot="start" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Card informativo -->
  <div class="card-info">
    <div class="card-info-icon">
      <img src="../../assets/units.png">
    </div>
    <div class="card-info-text">
      <p>
        Veja informações sobre as unidades e as mais próximas de você.
      </p>
    </div>
  </div>

  <ion-list>
    <!-- <ion-item > -->
    <div class="item" *ngFor="let unit of unidade" routerLink="details-units/{{unit.id}}">
      <div>
        <ion-label>
          <h2><b>{{unit.unit}}</b></h2>
          <h3>{{unit.street}}, {{unit.number}} - {{unit.district}} <br>{{unit.cep}}</h3>

          <div *ngIf="unit.always_available == 1">
            <p style="color: #48742C; margin-top: 5px;">
              <b>Aberto 24 horas</b>
            </p>
          </div>

          <div *ngIf="unit.always_available == 0">
            <p style="color: #48742C; margin-top: 5px;">
              <b>Funciona das {{unit.start_time}} às {{unit.end_time}}</b>
            </p>
          </div>

          <ion-badge color="dark">{{unit.km}} Km</ion-badge>
        </ion-label>
      </div>
      <div>
        <ion-icon size="large" name="chevron-forward-outline"></ion-icon>
      </div>
    </div>

    <!-- </ion-item> -->
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <span class="footer-container" [routerLink]="['/units']">
            <div class="footer-img">
              <img src="../../assets/unidades.png">
            </div>
            <div>
              <p class="footer-titulo">Unidades</p>
            </div>
          </span>
        </ion-col>
        <ion-col>
          <span class="footer-container opacity" [routerLink]="['/home']">
            <div class="footer-img">
              <img src="../../assets/home.png">
            </div>
            <div>
              <p class="footer-titulo">Home</p>
            </div>
          </span>
        </ion-col>
        <ion-col>
          <span class="footer-container opacity" [routerLink]="['/profile']">
            <div class="footer-img">
              <img src="../../assets/user.png">
            </div>
            <div>
              <p class="footer-titulo">Perfil</p>
            </div>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
