<ion-header>
</ion-header>

<ion-content>
  <!-- LOGO -->
  <div class="logo">
    <ion-img src="../../../assets/logo.png"></ion-img>
  </div>
  <h1 style="text-align: center;">Esqueci minha senha</h1>

  <p class="ion-margin" >Identifique-se para receber um e-mail com as instruções e a nova senha.</p>

  <!-- INPUTS -->
  <form [formGroup]='form' (submit)="forgotPassword()">
    <ion-item>
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <!-- BOTÕES -->
    <div class="buttons">
      <ion-button type="submit" class="entrar" expand="block" [disabled]='form.invalid'>
        Enviar
      </ion-button>
      <ion-button class="cadastrar" expand="block" fill="outline">
        <a href="/login">Entrar</a>
      </ion-button>
    </div>
  </form>

</ion-content>
