<ion-header>
  <ion-toolbar>

    <!-- Logo -->
    <div class="header-img">
      <img src="https://ik.imagekit.io/mnbr5uwksus/DoctorOn/DoctorOn.png?updatedAt=1634255509856" height="100px">
    </div>

    <!-- Textos -->
    <div class="header-titulo">
      <p>Olá, {{user.name}}</p>
    </div>
    <div class="header-descricao">
      <p>Bem-vindo</p>
    </div>

    <!-- Menu -->
    <ion-button class="header-menu" slot="end" color="light" (click)="onLogout()">
     <!-- teste  <ion-icon name="log-out"></ion-icon>-->
    <ion-icon size="large" color="dark" slot="icon-only" name="log-out"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <!-- Textos -->
    <div class="main-titulo">
      <p>Como podemos te ajudar hoje?</p>
    </div>
    <div class="main-descricao">
      <p>Encontre o médico mais próximo de você</p>
    </div>
  </div>

  <div class="cards">
    <ion-grid>
      <ion-row>

        <ion-col *ngFor="let specialties of specialty;" (click)="openPage(specialties.specialty_used)">
          <div class="card">
            <div class="card-container">
              <div class="card-img">
                <img src="{{specialties.img}}" height="100px">
              </div>
              <div>
                <p class="card-titulo">{{specialties.specialty}}</p>
              </div>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <span class="footer-container opacity" [routerLink]="['/units']">
            <div class="footer-img">
              <img src="../../assets/unidades.png">
            </div>
            <div>
              <p class="footer-titulo">Unidades</p>
            </div>
          </span>
        </ion-col>
        <ion-col>
          <span class="footer-container" [routerLink]="['/home']">
            <div class="footer-img">
              <img src="../../assets/home.png">
            </div>
            <div>
              <p class="footer-titulo ">Home</p>
            </div>
          </span>
        </ion-col>
        <ion-col>
          <span class="footer-container opacity" [routerLink]="['/profile']">
            <div class="footer-img">
              <img src="../../assets/user.png">
            </div>
            <div>
              <p class="footer-titulo">Perfil</p>
            </div>
          </span>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
