a {
    text-decoration: none;
}

ion-header ion-toolbar {
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 15px 15px;
}

.header-img img {
    position: absolute;
    width: 140px;
    height: 100.8px;
    left: 10px;
    top: -15px;
}

.header-titulo {
    position: absolute;
    width: 190px;
    height: 19px;
    left: 130px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    color: #000000;
}

.header-descricao {
    position: absolute;
    width: 100px;
    height: 14px;
    left: 132px;
    top: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 14px;
    color: #C0C0C0;
}

.header-menu {
    --ion-color-base: #fff !important;
    --box-shadow: none;
}

// FIM HEADER

.main {
    height: 50px;
    text-align: center;
}

.main-titulo {
    height: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

}

.main-descricao {
    height: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #C0C0C0;
}

ion-col {
    margin-left: 10px;
}

.card {
    width: 170px;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.card-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.card-img {
    display: block;
    margin: 10px auto;
}

.card-titulo {
    display: block;
    margin: -5px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: center;
}

.card-all {
    display: block;
    margin: -20px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    text-align: center;
}



// FOOTER
ion-footer ion-toolbar {
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0px 0px;
}

.footer-container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.footer-img {
    margin: 0 auto;
}

.footer-titulo {
    margin: -5px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    color: #000000;
    text-align: center;
}

.opacity {
    opacity: 0.8;
}